/* Comienzo del reset CSS */

html, body, h1, h2, h3, h4,h5, h6, p, ol, ul, li, pre, code, address, form, fieldset {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

ol{
  margin-left: 1.4em;
  list-style: decimal;
  }

ul{
   margin-left: 1.4em;
   list-style: square;
   }

img{
        border: 0;
       }

/* Fin del reset CSS */

body{
        background-color: #02010a
        }


@font-face {
                    font-family:  Dancing Script;
                    src: url(https://fonts.googleapis.com/css?family=Dancing+Script);
                    }

.contenido{
                  width: 900px;
                  background-color: #02010a;
                  margin: 0 auto;
                  color: white;
                  font-family: "Dancing Script", cursive;
                  }


header{
            width: 100%;
            height: 50px;
            background-color: #5b7989;
            border-radius: 10px 10px 0 0 ;
            font-size: 1.2em;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            }


.menu a,.menu a:visited,.menu a:link{
                                                            color: white;
                                                            text-decoration: none;
                                                            }
.menu{
          margin: 10px;
          word-spacing: 6px
          }

.central{
             height: 400px;
             background-color: #82c3a6;
            }

.central img{
                   margin: 0 auto;
                   display: block;
                   padding-top: 20px
                    }

.secundaria{
                    height: 250px;
                    background-color: #d5c75f;
                    border: 1px solid black;
                    display: flex;
                    flex-flow: row, nowrap;
                    justify-content: space-around;
                    padding: 10px;
                    text-decoration: underline;
                    }

.img1{
          width: 100%;
          padding: 20px;
          text-align: center;

          }

.img1:hover{
                    transform: rotate(10deg);
                    -webkit-filter:drop-shadow(1px 2px #82c3a6 );
                    filter:drop-shadow(1px 2px #82c3a6 )
                  }

.img2{
          width: 100%;
          padding: 20px;
          text-align: center;
          }


.img2:hover{
                    transform: translateX(20px) translateY(-5px);
                    -webkit-filter:drop-shadow(1px 2px #82c3a6 );
                    filter:drop-shadow(1px 2px #82c3a6 )
                    }

footer{
         height: 200px;
         background-color: #C6d5c5;
         display: flex;
         flex-flow: row;
         justify-content: space-around;
         color: brown;
         font-family: "Dancing Script" cursive;
         font-size: 0.90em;
         text-align: justify;
         padding: 10px;
         border-radius: 0 0 10px 10px
        }

.contacto{
                padding-right: 5px
                }

footer h1{
                padding: 5px
                }

.social{
            padding-left: px;
            text-align: justify;
          }

.terminos{
                padding-right: 5px;
                text-align: justify;
              }

.contacto a,.contacto a:visited,.contacto a:link{
                                                                        color: brown;
                                                                        text-decoration: underline;
                                                                        }

.social a,.social a:visited,.social a:link{
                                                            color: brown;
                                                            text-decoration: underline;
                                                           }

.paisaje{
              height: 500px;
              background-color: #d5c75f;
              }

.galeria1{
              display: flex;
              flex-flow: row;
              justify-content: space-around;
              align-items: center;
              padding-top: 40px
              }

.galeria2{
              display: flex;
              flex-flow: row;
              justify-content: space-around;
              align-items: center;
              padding-top: 40px
              }


.paisaje1{
               -webkit-filter:blur(10px);
               filter:blur(10px)
              }

.paisaje2{
        -webkit-filter:grayscale(100%);
        filter:grayscale(100%);
        }

.paisaje4{
              -webkit-filter:grayscale(100%);
              filter:grayscale(100%);
              }

.paisaje6{
               -webkit-filter:grayscale(100%);
                filter:grayscale(100%);
                }

.paisaje3{
               -webkit-filter:sepia(90%);
                filter:sepia(90%);
              }

.rotulo{
             height: 500px;
             background-color: #d5c75f;
            }

.r1{
     display: flex;
     flex-flow: row;
     justify-content: space-around;
    align-items: center;
    padding-top: 40px
  }

  .r2{
       display: flex;
       flex-flow: row;
       justify-content: space-around;
      align-items: center;
      padding-top: 40px
    }

.rotulo1{
            -webkit-filter:blur(10px);
            filter: blur(10px);
            }

.rotulo2{
            -webkit-filter:grayscale(100%);
            filter: grayscale(100%);
            }

.rotulo4{
            -webkit-filter:grayscale(100%);
            filter: grayscale(100%);
           }

.rotulo6{
            -webkit-filter:grayscale(100%);
            filter: grayscale(100%);
            }

.rotulo3{
            -webkit-filter:sepia(90%);
            filter: sepia(90%);
            }


@media screen and (max-width: 900px)  {
  .contenido  {
                      width: 100%;
                      margin: 0 auto;
                    }
        .titulo{
                      width: 50%;
                      margin: 0 auto;
                    }
            .menu{
                        width: 100%;
                        margin: 0 auto;
                      }
                      header{
                                  height: 100px;
                                  text-align: center;
                                  display: block;
                                  padding-top: 10px;
                                  font-size: 1.3em;

                                  }

                                  .rotulo{
                                              width: 100%;
                                              margin: 0 auto;
                                              height: 1400px
                                              }
                                 .r1{
                                        width: 90%;
                                        margin: 0 auto;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-around;
                                        align-items: center;
                                        }
                                    .r2{
                                      width: 90%;
                                      margin: 0 auto;
                                      display: flex;
                                      flex-direction: column;
                                      justify-content: space-around;
                                      align-items: center;
                                      padding-top: 10px
                                        }


                          footer{
                                      width: 100%;
                                      height: 500px;
                                      margin: 0 auto;
                                  display: flex;
                                  flex-direction: column;
                                  justify-content: space-around;
                                  align-items: center;
                                  text-align: center;

                                    }
                                    .terminos{
                                                    margin: 0 auto;
                                                    text-align: center;
                                                    }

                    }


@media screen and (max-width: 900px)  {
                      .contenido  {
                                          width: 100%;
                                          margin: 0 auto;
                                        }
                            .titulo{
                                          width: 50%;
                                          margin: 0 auto;
                                        }
                                .menu{
                                            width: 100%;
                                            margin: 0 auto;
                                          }
                                          header{
                                                      height: 100px;
                                                      text-align: center;
                                                      display: block;
                                                      padding-top: 10px;
                                                      font-size: 1.3em;

                                                      }

                                                      .paisaje{
                                                                  width: 100%;
                                                                  margin: 0 auto;
                                                                  height: 1400px
                                                                  }
                                                     .galeria1{
                                                            width: 90%;
                                                            margin: 0 auto;
                                                            display: flex;
                                                            flex-direction: column;
                                                            justify-content: space-around;
                                                            align-items: center;
                                                            }
                                                        .galeria2{
                                                          width: 90%;
                                                          margin: 0 auto;
                                                          display: flex;
                                                          flex-direction: column;
                                                          justify-content: space-around;
                                                          align-items: center;
                                                          padding-top: 10px
                                                            }


                                              footer{
                                                          width: 100%;
                                                          height: 500px;
                                                          margin: 0 auto;
                                                      display: flex;
                                                      flex-direction: column;
                                                      justify-content: space-around;
                                                      align-items: center;
                                                      text-align: center;
                                                      font-size: 0.90em

                                                        }
                                                        .terminos{
                                                                        margin: 0 auto;
                                                                        text-align: center;
                                                                        }

                                        }
